.topbar {
 background-color: $white-color-1;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 105px;
 z-index: 99;
 @include for-tablet-portrait-up{
  height: 8rem;
 }
 .main-topbar {
  .box {
   height: 105px;
   @extend %FlexRowBetween;

   .right-topbar {
    @extend %FlexDefault;
    gap: 0 4rem;

    .notification {
     background-color: $bg-light-color;
     position: relative;
     @include circle(5rem);
     cursor: pointer;
     img {
      @include center(50%, 50%)
     }
     @include for-tablet-portrait-up{
      @include circle(0rem);
      img{
       margin: 0 10px
      }
     }
    }

    .account {
     @extend %FlexDefault;
     gap: 0 2rem;

     img {
      width: 5rem;
      height: 5rem;
     }

     h6 {
      font-weight: $font-weight-medium;
      padding: 0.4rem 0;
      text-transform: capitalize;
     }
     p {
      color: $info-color;
      text-transform: capitalize;
      font-size: 1.5rem;
     }
     @include for-phone-only{
      gap: 0 0rem;
      h6 , p{
       display: none;
      }
      img{
       width: 4rem;
       height: 4rem;
      }
     }
    }

    .more {
     .css-137ul40-MuiButtonBase-root-MuiIconButton-root:hover{
      background-color: transparent;
     }
  
     
     .MuiButtonBase-root a{
      margin: 20px;
     }
     
     img {
      width: 2.7rem;
      cursor: pointer;

     }

    }
   }
   @include for-tablet-portrait-up{
    height: 8rem;
   }
  }
  //icon meue
  .menu{
   display: none;
   font-size: 2.7rem;
   margin: 0 10px;
   color: $info-color;
   @include for-tablet-portrait-up{
    display: block;
   }
  }
 }
 //show & hide search
 .search {
  @extend %Ease;

  @include for-tablet-portrait-up{
  position: fixed;
   left: 0;
   right: 0;
   top: -9rem;
   z-index:-1 ; 
   width: 100%;
   background-color: white;
   border-radius: 0px;
   font-size: 2rem;
   box-shadow: 0 7px 10px rgb(71 71 71 / 9%);

  }

 }
 .hide{
   top: -9rem;
 }
 .show{
   top: 7.5rem;
 }
 .search-icon{
  display: none;
  font-size: 2.4rem;
  margin: 0 10px;
  color: $info-color;
  @include for-tablet-portrait-up{
   display: block;
   
  }
 }

}
