@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
 font-weight: $font-weight-bold;
 line-height: 1.1;
}

h1,.h1 {
 font-size: $text-5xl;
}

h2,.h2 {
 font-size: $text-4xl;
}

h3,.h3 {
 font-size: $text-3xl;
}

h4,.h4 {
 font-size: $text-2xl;
}

h5,.h5 {
 font-size: $text-xl;
}

h6,.h6 {
 font-size: $text-lg;
}
.h7 {
 font-size: $text-sm;
}
p,a,button{
 font-size: $text-lg;
}
h3{
 @include for-phone-only{
  font-size: 24px;
 }
}
